@font-face {
  font-family: "Neue Machina Light";
  src: url("../fonts/Neue Machina/NeueMachina-Light.woff") format("woff");
}

@font-face {
  font-family: "Neue Machina UltraLight";
  src: url("../fonts/Neue Machina/NeueMachina-Ultralight.woff") format("woff");
}

@font-face {
  font-family: "Neue Machina Regular";
  src: url("../fonts/Neue Machina/NeueMachina-Regular.woff") format("woff");
}

@font-face {
  font-family: "Argesta Hairline RegularItalic";
  src: url("../fonts/Argesta/ArgestaDisplay-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "Argesta Text Regular Italic";
  src: url("../fonts/Argesta/ArgestaText-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "Argesta Display Regular Italic";
  src: url("../fonts/Argesta/ArgestaDisplay-RegularItalic.otf") format("opentype");
}